@import "bootstrap/bootstrap";
#float-left {
    float: left;
}

#float-right {
    float: right;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
}

#cb-cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-radius: 0;
    display: none;
}


/* Darkmode - WIP*/

.dark {
    /* redefine theme colors for dark theme */
    $primary: #012345;
    $secondary: #111111;
    $success: #222222;
    $dark: #000;
    $indigo: #6610f2;
    $danger: #8B0000;
    $light: #C2C5CC;
    $theme-colors: ( "primary": $primary, "secondary": $secondary, "success": $success, "danger": $danger, "info": $indigo, "dark": $dark, "light": $light, "white": $white);
    /* redefine theme color variables */
    @each $color,
    $value in $theme-colors {
        --#{$variable-prefix}#{$color}: #{$value};
    }
    /* redefine theme color rgb vars (used for bg- colors) */
    $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
    @each $color,
    $value in $theme-colors-rgb {
        --#{$variable-prefix}#{$color}-rgb: #{$value};
    }
    $body-color: #eeeeee;
    $body-bg: #263C5C;
    --#{$variable-prefix}body-color: #{$body-color};
    --#{$variable-prefix}body-bg: #{$body-bg};
    @import "bootstrap/bootstrap";
}